body,html{
	margin: 0;
	padding: 0;
	height: 100%;
	background: #603abc !important;
}
.user_card{
	height: 400px;
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: #f39c12;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px  0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px  0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px  0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}
.form_container{
	margin-top: 100px;
}
.login_btn{
	width: 100%;
	background: #c0392b !important;
	color: white !important;
}
.login_btn:focus{
	box-shadow: none !important;
	outline: 0px !important;
}
.login_container{
	padding: 0 2rem;
}
.input_group_text{
	background: #c0392b !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus{
	box-shadow: none !important;
	outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label:before{
	background-color: #c0392b !important;
}
